extends ../../layout

block content
  h1 Add page

  form(action="/admin/pages/" + id +"/edit", method="post", id="identifier")
    div
      label(for="name") Page name
      input(type="text" id="name" name="name" required value=typeof name != 'undefined' ? name : '')
    div
      label(for="url") Page url
      input(type="text" id="url" name="url" required value=typeof url != 'undefined' ? url : '')
    div
      label(for="content") Content
      input(name="content" type="hidden" value="content")
      #editor
        !=content
    input(type="submit" value="Save")

  if typeof errors != 'undefined'
    each error in errors
        li= error.msg

  script(src="/editor.js")
