doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/index.css')
    link(rel="stylesheet", href="https://cdn.quilljs.com/1.3.6/quill.snow.css")
  body
    h1 Editor
    p Welcome to Editor

    form(method="post" action="/admin/editor" id="identifier")
      input(name="content" type="hidden" value="content")
      #editor
      input(type="submit" value="Save")
    script(src="/editor.js")
