extends ../layout

block content
  h1 Admin
  p Welcome back, !{user}

  form(action="/logout", method="get")
    button(type="submit") Log Out

  br
  a(href="/admin/schools") Schools
  br
  a(href="/admin/pages") Pages
