extends layout

block content
  .container
    .landing
      div
        h1 Vitajte, !{user}!
        p It is a long established fact that a reader will be distracted by the readable  content of a page when looking at its layout.
        a(href="/")
          button.btn-primary Späť na stránku
      .landing-image
        img(src="/img/svg/landing.svg", alt="Illustration")

    h4 Štatistiky
    .stats
      .schools
        div
          i(data-feather="home")
          p Školy
        h3= schools
      .pages
        div
          i(data-feather="file")
          p Stránky
        h3= pages
      .users
        div
          i(data-feather="user")
          p Používatelia
        h3= users
