doctype html
html
  head
    title= title
    link(rel="apple-touch-icon", sizes="180x180" href="/img/icon/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/img/icon/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/img/icon/favicon-16x16.png")
    link(rel="manifest", href="site.webmanifest")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/quill/2.0.0-dev.3/quill.snow.min.css")
    link(rel='stylesheet', href='/styles/admin.css')
  body
    .nav-wrapper
      nav
        .nav-logo
          a(href="/admin")
            img(src="/img/sd_logo.png", alt="Logo")
        .nav-items
          a(href="/admin/pages") Stránky
          a(href="/admin/schools") Školy
          a(href="/admin/users") Používatelia
        form(action="/logout" method="GET")
            button(type="submit") Odhlásiť

    block content

    .footer
      p Vytvoril
        |
        |
        a(href="https://github.com/bencikdesign" target="_blank") Šimon Benčík
        |  ako projekt pre Stredoškolskú odbornú činnosť 2020.
    script(src="/js/admin.js")
    script(src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js")
    script.
      feather.replace();
