extends ../../layout

block content
  h1 Add school

  form(action="/admin/schools/create", method="post")
    div
      label(for="name") School name
      input(type="text" id="name" name="name" required)
    div
      label(for="link") Link
      input(type="text" id="link" name="link" required)
    div
      label(for="street") Street
      input(type="text" id="street" name="street" required)
    div
      label(for="city") City
      input(type="text" id="city" name="city" required)
    div
      label(for="postcode") Postal Code
      input(type="text" id="postcode" name="postcode" required)
    div
      label(for="description") Description
      input(type="text" id="description" name="description")
    button(type="submit") Add school

  if typeof errors != 'undefined'
    each error in errors
        li= error.msg
