extends ../layout

block content
  .container
    .header
      h1 Školy
      p Tu môžete pridávať, upravovať alebo odstrániť školy v databáze.
      hr

    .actions
      a(href="/admin/schools/create")
        button.btn-primary(style="align-self: right;") Pridať školu

    .card
      if !schools.length
        p(style="justify-self: center") Žiadne školy v databáze

      if typeof schools != 'undefined'
        each item in schools
          .schoolItem
            p= item.name
            p #{item.street}, #{item.city}
            div
              a(href="/admin/schools/" + item.id + "/edit")
                button.btn-clear
                  i(data-feather="edit")
              form(action="/admin/schools/"+ item.id + "/remove",method="post")
                button.btn-clear(type="submit")
                  i(data-feather="trash")
