extends ../layout

block content
  .container
    .createForm
      img(src="/img/svg/users.svg", alt="Ilustrácia ľudí")

      if typeof id != 'undefined'
        form(action="/admin/users/" + id + "/edit", method="post")
          if typeof errors != 'undefined'
            .error
              each error in errors
                p= error.msg
          div
            input.input(type="text" id="name" name="name" placeholder="Meno používateľa"  required value=typeof name != 'undefined' ? name : '')
            span.border
          div
            input.input(type="email" id="email" name="email" placeholder="Email"  required value=typeof email != 'undefined' ? email : '')
            span.border
          div
            input.input(type="password" id="password" name="password" placeholder="Heslo")
            span.border
          div
            input.input(type="password" id="password2" name="password2"   placeholder="Zopakujte heslo")
            span.border
          button.btn-primary(type="submit") Pridať

      else
        form(action="/admin/users/create", method="post")
          if typeof errors != 'undefined'
            .error
              each error in errors
                p= error.msg
          div
            input.input(type="text" id="name" name="name" placeholder="Meno používateľa"  required)
            span.border
          div
            input.input(type="email" id="email" name="email" placeholder="Email" required)
            span.border
          div
            input.input(type="password" id="password" name="password" placeholder="Heslo"   required)
            span.border
          div
            input.input(type="password" id="password2" name="password2"   placeholder="Zopakujte heslo" required)
            span.border
          button.btn-primary(type="submit") Pridať
