extends ../layout

block content
  .container
    .header
      h1 Používatelia
      p Tu môžete spravovať administrátorov stránky.
      hr

    .actions
      a(href="/admin/users/create")
        button.btn-primary Pridať používateľa

    .card
      if typeof users != 'undefined'
        each item in users
          .userItem
            p= item.username
            p= item.email
            div
              a(href="/admin/users/" + item.user_id + "/edit")
                button.btn-clear
                  i(data-feather="edit")
              if item.user_id != currentUser
                form(action="/admin/users/" + item.user_id + "/remove", method="post")
                  button.btn-clear(type="submit")
                    i(data-feather="trash")
