doctype html
html
  head
    title Chyba #{error.status}
    link(rel="apple-touch-icon", sizes="180x180" href="/img/icon/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/img/icon/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/img/icon/favicon-16x16.png")
    link(rel="manifest", href="site.webmanifest")
    link(rel="stylesheet", href="/styles/app.css")
  body
    .error-wrap
      if error.status == '404'
        .page-error
          img(src="/img/svg/404.svg", alt="Chyba 404")
          h3 Str치nka sa nena코la.
          a(href="/")
             button.btn-primary Prejs콘 domov

      else
        .page-error
          img(src="/img/svg/505.svg", alt="Chyba 505")
          h3 Vyskytla sa chyba servera.
          a(href="/")
            button.btn-primary Prejs콘 domov
