doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/pure.css")
    link(rel='stylesheet', href='/admin.css')
    link(rel="stylesheet", href="/editor.css")
  body
    block content
